# Python
__pycache__/
*.py[cod]
*$py.class
*.pyc
*.pyo

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# Virtual Environment
venv/
env/
ML_venv/
ENV/

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Models (optional - decide if you want to commit models)
# *.pkl

# Data (if large files)
# *.csv